<section class='home-container'>
    <div class='bg-advance hero'>
        <div ng-click='clickToOpen()' class='hero-title'>
            Advance
        </div>
    </div>

    <section ng-repeat='product in intermediateArray'>
        <div class='outer-container-equipment' ng-class-even="'flex-direction-reverse'" ng-class-odd="'flex-direction-regular'">
            <div class='inner-container-equipment' ng-class-even="'flex-direction-reverse'" ng-class-odd="'flex-direction-regular'">
                <div class='review-container'>
                    <h1>Video Reviews</h1>
                    <img ng-click="clickToOpen(product.reviewVideo1)" ng-src='img/review/{{product.reviewThumb1}}' />
                    <img ng-click="clickToOpen(product.reviewVideo2)" ng-src='img/review/{{product.reviewThumb2}}' />
                </div>
                <div class='product-container'>
                    <a ng-href="{{product.affiliateLink}}">
                        <img class='product' ng-src="{{product.productImg}}"></a>
                </div>
            </div>
            <div class='inner-container description'>
                <h1>{{product.header}}</h1>
                <p>{{product.body}}</p>
            </div>
        </div>
    </section>

    <section class='outer-container'>
        <div class='inner-container description'>
            <h1>Ravelli 75mm Tripod with Fluid Head</h1>
            <p>
                Fluid head tripod is an essiential if you want smooth panning shots. With non-fluid tripod heads, you'll have a lot of jarring, skipping
                and uneven resistance which will mess up a shot. This one by Ravelli is the #1 fluid head tripod on Amazon at a reasonable price
            </p>
        </div>
        <div class='inner-container'>
            <div class='product-container left'>
                <a href="https://www.amazon.com/Ravelli-AVTP-Professional-Camera-Tripod/dp/B00139W0XM/ref=as_li_ss_il?ie=UTF8&qid=1471025437&sr=8-3&keywords=fluid+head+tripod&linkCode=li3&tag=medi0513-20&linkId=cab698e53fe0352b2c7f40433b21a315" target="_blank">
                    <img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00139W0XM&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=medi0513-20"></a>
                <img src="https://ir-na.amazon-adsystem.com/e/ir?t=medi0513-20&l=li3&o=1&a=B00139W0XM" />
            </div>
            <div class='review-container right'>
                <h1>Video Reviews</h1>
                <a href='https://www.youtube.com/watch?v=TTu08dtgLWA'><img src='img/review/ravelli-review-1.jpg' /></a>
                <a href='https://www.youtube.com/watch?v=bDz1wUlT6uY'><img src='img/review/ravelli-review-2.jpg' /></a>
            </div>
        </div>
    </section>

    <section class='outer-container'>
        <div class='inner-container'>
            <div class='product-container right'>
                <a href="https://www.amazon.com/Saramonic-96-Channel-Wireless-Microphone-Transmitter/dp/B01AYDN004/ref=as_li_ss_il?ie=UTF8&qid=1471026001&sr=8-1-spons&keywords=wireless+lavalier&psc=1&smid=AJJXN514E694T&linkCode=li3&tag=medi0513-20&linkId=fc07be2f32522c7ab1f61830aff0f60a"
                    target="_blank">
                    <img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B01AYDN004&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=medi0513-20"></a>
                <img src="https://ir-na.amazon-adsystem.com/e/ir?t=medi0513-20&l=li3&o=1&a=B01AYDN004" />
            </div>
            <div class='review-container left'>
                <h1>Video Reviews</h1>
                <a href='https://www.youtube.com/watch?v=ppLPyyPGWPE'><img src='img/review/saramonic-review-1.jpg' /></a>
                <a href='https://www.youtube.com/watch?v=OU0a2uSOtPQ'><img src='img/review/saramonic-review-2.jpg' /></a>
            </div>
        </div>

        <div class='inner-container description'>
            <h1>Saramonic Lavalier Microphone</h1>
            <p>
              A lavalier microphone is your best bet when filming in an acoustic room or filming outdoors when there's wind. The lavalier significantly
              reduces ambient sounds, while usually being the most affordable option as well. The reason why lavaliers will record better than any
              other microphone at the same price range is because lavaliers are so close to a speaker's mouth which hellp with recording quality sound.
            </p>
        </div>
    </section>

    <section class='outer-container'>
    <div class='inner-container description'>
        <h1>Rode VideoMic Pro Compact Shotgun Microphone</h1>
        <p>
          The Rode VideoMic Pro Shotgun is records best in soundproofed rooms or outdoors when there's little wind. The quality of the sound for <thead>
            price of this microphone makes it a YouTuber favorite. The 3 main benefits with a shotgun microphone over a lavalier is: 1. Viewers don't have
            to see your microphone, 2. convenience of not having to hook up a microphone and 3. capturing a small amount of reverb makes the recording better.
          </thead>
        </p>
    </div>
    <div class='inner-container'>
        <div class='product-container left'>
          <a href="https://www.amazon.com/Rode-VMPR-VideoMic-Rycote-Shockmount/dp/B00YAZHRZM/ref=as_li_ss_il?ie=UTF8&qid=1472062131&sr=8-2&keywords=rode+video+pro&linkCode=li2&tag=medi0513-20&linkId=3ace478e882e658040ca1f1c21b1d07c" target="_blank">
            <img class='product' border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00YAZHRZM&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=medi0513-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=medi0513-20&l=li2&o=1&a=B00YAZHRZM" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </div>
        <div class='review-container right'>
            <h1>Video Reviews</h1>
            <a href='https://www.youtube.com/watch?v=HM-dTyTeCes'><img src='img/review/rode-review-1.jpg' /></a>
            <a href='https://www.youtube.com/watch?v=6JhD4D6N2sE'><img src='img/review/rode-review-2.jpg' /></a>
        </div>
    </div>
</section>
