<section class='home-container'>
    <div class='bg-beginner hero'>
       <div class='hero-title'>
            Beginner
        </div>
    </div>

        <section class='outer-container'>
            <div class='inner-container'>
                <div class='review-container left'>
                    <h1>Video Reviews</h1>
                    <img ng-click="clickToOpen('oNyuP98KO3A')" src='img/review/t5i-review-1.jpg' />
                    <img ng-click="clickToOpen('N5Se3zSpyHw')" src='img/review/t5i-review-2.jpg' />
                    <!-- <a href='https://www.youtube.com/watch?v=N5Se3zSpyHw'><img src='img/review/t5i-review-2.jpg' /></a> -->
                </div>
                <div class='product-container right'>
                    <a href="https://www.amazon.com/gp/product/B00BW6LWO4/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00BW6LWO4&linkCode=as2&tag=medi0513-20&linkId=84cbcea00048bfebb1764afec39def5f">
                        <img class='product' src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00BW6LWO4&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=medi0513-20"></a>
                    <img src="//ir-na.amazon-adsystem.com/e/ir?t=medi0513-20&l=am2&o=1&a=B00BW6LWO4" />
                </div>
            </div>
            <div class='inner-container description'>
                <h1>Canon T5i</h1>
                <p>Stumptown pitchfork thundercats tote bag listicle. Humblebrag banh mi drinking vinegar messenger bag, etsy brooklyn tumblr gentrify synth mixtape cred tofu. Occupy sartorial salvia tousled 8-bit meditation VHS trust fund, freegan cred
                    you probably haven't heard of them jean shorts ennui venmo. Plaid roof party 8-bit, church-key vegan retro mixtape viral fingerstache butcher fixie letterpress organic wolf ethical. Kombucha gentrify readymade dreamcatcher. Swag YOLO
                    locavore, selvage heirloom sustainable ramps jean shorts brooklyn biodiesel kitsch you probably haven't heard of them narwhal. Keffiyeh franzen gentrify gluten-free skateboard.</p>
            </div>
        </section>

    <section class='outer-container'>
        <div class='inner-container description'>
            <h1>Amazon Basics Tripod</h1>
            <p>
                This is the best basic tripod. It is sturdy enough to hold most DSLRs including the T5i.
                It's incredible more durable than comparable tripods.
            </p>
        </div>
        <div class='inner-container'>
            <div class='product-container left'>
                <a href="https://www.amazon.com/gp/product/B005KP473Q/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B005KP473Q&linkCode=as2&tag=medi0513-20&linkId=35653d8b5a812d5f89b1f6162157608c">
                    <img class='product' src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B005KP473Q&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=medi0513-20"></a>
                <img src="//ir-na.amazon-adsystem.com/e/ir?t=medi0513-20&l=am2&o=1&a=B005KP473Q" />
            </div>
            <div class='review-container right'>
                <h1>Video Reviews</h1>
                <a href='https://www.youtube.com/watch?v=AsFp-71l-d4'><img src='img/review/basic-tripod-review-1.jpg' /></a>
                <a href='https://www.youtube.com/watch?v=XiDyjCiaMd8'><img src='img/review/basic-tripod-review-2.jpg' /></a>
            </div>
        </div>
    </section>

    <section class='outer-container'>
        <div class='inner-container'>
            <div class='product-container right'>
                <a href="https://www.amazon.com/EOS-Rebel-External-Microphone-microphone/dp/B00H4I5574/ref=as_li_ss_il?ie=UTF8&qid=1470872600&sr=8-1-fkmr1&keywords=canon+t5i+lavalier&linkCode=li3&tag=medi0513-20&linkId=9176c9b24b6ab1c3d4701b3a5b1e0fe5" target="_blank">
                    <img class='product' src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00H4I5574&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=medi0513-20"></a>
                <img src="https://ir-na.amazon-adsystem.com/e/ir?t=medi0513-20&l=li3&o=1&a=B00H4I5574" />
            </div>
            <div class='review-container left'>
                <h1>Video Reviews</h1>
                <a href='https://www.youtube.com/watch?v=AsFp-71l-d4'><img src='img/review/begin-lavalier-1.jpg' /></a>
                <a href='https://www.youtube.com/watch?v=XiDyjCiaMd8'><img src='img/review/begin-lavalier-2.jpg' /></a>
            </div>
        </div>

        <div class='inner-container description'>
            <h1>Lavalier Microphone for Indoor Recording</h1>
            <p>
              A lavalier microphone is your best bet when filming in an acoustic room or filming outdoors when there's wind. The lavalier significantly
              reduces ambient sounds, while usually being the most affordable option as well. The reason why lavaliers will record better than any
              other microphone at the same price range is because lavaliers are so close to a speaker's mouth which hellp with recording quality sound.
            </p>
        </div>

    </section>

    <section class='outer-container'>
        <div class='inner-container description'>
            <h1>Rode VideoMic Pro Compact Shotgun Microphone</h1>
            <p>
              The Rode VideoMic Pro Shotgun is records best in soundproofed rooms or outdoors when there's little wind. The quality of the sound for <thead>
                price of this microphone makes it a YouTuber favorite. The 3 main benefits with a shotgun microphone over a lavalier is: 1. Viewers don't have
                to see your microphone, 2. convenience of not having to hook up a microphone and 3. capturing a small amount of reverb makes the recording better.
              </thead>
            </p>
        </div>
        <div class='inner-container'>
            <div class='product-container left'>
            <a href="https://www.amazon.com/Rode-VMPR-VideoMic-Rycote-Shockmount/dp/B00YAZHRZM/ref=as_li_ss_il?s=photo&ie=UTF8&qid=1472063650&sr=1-1&keywords=rode+videopro&linkCode=li3&tag=medi0513-20&linkId=b844b38567e6ce7315b51b62e4c4a591" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00YAZHRZM&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=medi0513-20" ></a>
            <img class='product' src="https://ir-na.amazon-adsystem.com/e/ir?t=medi0513-20&l=li3&o=1&a=B00YAZHRZM" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            </div>
            <div class='review-container right'>
                <h1>Video Reviews</h1>
                <a href='https://www.youtube.com/watch?v=HM-dTyTeCes'><img src='img/review/rode-review-1.jpg' /></a>
                <a href='https://www.youtube.com/watch?v=6JhD4D6N2sE'><img src='img/review/rode-review-2.jpg' /></a>
            </div>
        </div>
    </section>

<section class='outer-container'>
    <div class='inner-container'>
        <div class='product-container right'>
            <a href="https://www.amazon.com/LimoStudio-Photography-Lighting-Equipment-AGG814/dp/B00E4YS2XU/ref=as_li_ss_il?s=photo&ie=UTF8&qid=1472062868&sr=1-1&keywords=softbox&linkCode=li3&tag=medi0513-20&linkId=4c58991c7192f5f9baf84d884db00273" target="_blank">
            <img class='product' border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00E4YS2XU&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=medi0513-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=medi0513-20&l=li3&o=1&a=B00E4YS2XU" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </div>
        <div class='review-container left'>
            <h1>Video Reviews</h1>
            <a href='https://www.youtube.com/watch?v=u6wAMSHozfw'><img src='img/review/limostudio-review-1.jpg' /></a>
            <a href='https://www.youtube.com/watch?v=0zyBQAex0Kw'><img src='img/review/limostudio-review-2.jpg' /></a>
        </div>
    </div>

    <div class='inner-container description'>
       <h1>LimoStudio 700W Photography Softbox Light Lighting</h1>
        <p>
        After your first few YouTube videos, you may notice that your video quality is looking like crap. It's easy to rush into buying the best DSLR available.
        In most cases camera quality isn't the problem, it's usually lighting. Lighting plays a great role in the quality and also look of a video. Getting a basic
        pair of softbox lights will improve the video quality of videos while also giving you control over lighting. This is particularly useful when shooting at night.
        </p>
    </div>
</section>
