<section class='home-container'>
    <div class='bg-courses hero'>
        <div class='hero-title'>
            Courses
        </div>
    </div>

    <section class='outer-container'>
      <a class='top-course'  href='http://jumpcut.us/do'>
      <div class='inner-container'></div>
        </a>
        <div class='inner-container description'>
            <h1>Jumpcut Academy</h1>
            <p>Jumpcut Academy is the premiere online course for YouTubers. Their own YouTube channel, Simple Pickup, has over 2.7 million subscribers.
              They also get other prominient YouTubers, such as JK News, Vitaly, Sexy Simple Stupid, to teach classes as well.
              A lot of value at an affordable subscription of $17/month.
            </p>
        </div>
    </section>

    <section class='outer-container'>
<div class='inner-container description'>
  <h1>Creator Academy</h1>
  <p>
  The creator academy is the official course from YouTube. They bring on top youtubers from a spectrum of genres to give advice
  on how grow a channel. Most of the advice is cliche, but it is the best free resource for learning how to be a YouTuber.
  </p>
</div>
<a href='https://youtube.com/creatoracademy/page/education?hl=en' class='inner-container middle-course'></accesskey="">

</section>
