<section class='home-container'>
    <div class='bg-equipment hero'>
        <div class='hero-title'>
            Equipment
        </div>
    </div>

    <main class='outer-container'>
        <div class='tier'>
            <div ui-sref='beginner' class=thumb-wrapper>
                <div class='thumbnail beginner'>
                    <h1>Beginner</h1>
                </div>
            </div>
            <ul>
                <li class='bullet-point'>10,000 or less subscribers</li>
                <li class='bullet-point'>Full set of equipment for less than $1,000</li>
            </ul>
        </div>

        <div class='tier'>
            <div ui-sref='intermediate' class=thumb-wrapper>
                <div class='thumbnail intermediate'>
                    <h1>Intermediate</h1>
                </div>
            </div>
            <ul>
                <li class='bullet-point'>10,000 to 100,000 subscribers</li>
                <li class='bullet-point'>Full set of equipment for less than $4,000</li>
            </ul>
        </div>

        <div class='tier'>
            <div ui-sref='advance' class=thumb-wrapper>
                <div class='thumbnail advance'>
                    <h1>Advance</h1>
                </div>
            </div>
            <ul>
                <li class='bullet-point'>100,000 or more subscribers</li>
                <li class='bullet-point'>Full set of equipment for less than $10,000</li>

            </ul>
        </div>
    </main>
</section>
