<section class='home-container'>
    <div class='bg-intermediate hero'>
        <div class='hero-title'>
            Intermediate
        </div>
    </div>

    <section ng-repeat='product in intermediateArray'>
        <div class='outer-container-equipment' ng-class-even="'flex-direction-reverse'" ng-class-odd="'flex-direction-regular'">
            <div class='inner-container-equipment' ng-class-even="'flex-direction-reverse'" ng-class-odd="'flex-direction-regular'">
                <div class='review-container'>
                    <h1>Video Reviews</h1>
                    <img ng-click="clickToOpen(product.reviewVideo1)" ng-src='img/review/{{product.reviewThumb1}}' />
                    <img ng-click="clickToOpen(product.reviewVideo2)" ng-src='img/review/{{product.reviewThumb2}}' />
                </div>
                <div class='product-container'>
                    <a ng-href="{{product.affiliateLink}}">
                        <img class='product' ng-src="{{product.productImg}}"></a>
                </div>
            </div>
            <div class='inner-container description'>
                <h1>{{product.header}}</h1>
                <p>{{product.body}}</p>
            </div>
        </div>
    </section>
