.inner-container {
    width: 700px;
    height: 95%: margin: auto;
    box-shadow: 0 0 2px 2px RGBA(0, 0, 0, .2);
    background-color: white;
}
.top-course {
    background: url('../img/images/ja');
    background-size: cover;
    height: 410px;
}
.description {
    text-align: center;
    overflow: auto;
    padding: 25px;
}
.description h1 {
    font-family: 'League Spartan', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 15px;
    font-size: 30px;
}
.description p {
    font-family: 'Libre Baskerville';
    line-height: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.middle-course {
    background: url('../img/images/ca');
    background-size: cover;
    height: 410px;
}
